.about{
    min-height: 100vh;
    padding-top: 7rem;
}
.about_container{
    grid-template-columns: 3fr 9fr;
    gap: 1.875rem;
    @media screen and (max-width: 800px) {
        grid-template-columns: repeat(1, 1fr);
    }
}
.about_data{
    padding: 1.875rem;
    background-color: var(--container-color);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.875rem;
    align-items: flex-start;
    position: relative;
    @media screen and (max-width: 625px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 1.875rem;
    }
}
.about_data::before{
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    left: -0.93rem;
    top: 20%;
}
.about_description{
    margin-bottom: 1rem;
    text-align: justify;
    color: var(--text-color);
}
.about_skills{
    row-gap: 1.25rem;
}
.skills_titles{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
.skills_name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
}
.skills_number{
    line-height: 1.2;
    color: var(--text-color);
}
.skills_bar,.skill_percentage{
    height: 7px;
    border-radius: 0.25rem;
}
.skills_bar{
    background-color: #f1f1f1;
}
.skills_percentage{
    display: block;
}

.development{
    width: 90%;
    border-radius: 0.25rem;
    height: 100%;
    background-color: var(--percent-color);
}
.ui_design{
    width: 80%;
    border-radius: 0.25rem;
    height: 100%;
    background-color: var(--percent-color);
}
.photography{
    width: 60%;
    border-radius: 0.25rem;
    height: 100%;
    background-color: var(--percent-color);
}

.about_boxes{
    margin-top: 4.35rem;
    display: flex;
    justify-content: space-around;
    @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 1.875rem;
    }
}

.about_box{
    display: flex;
    gap: 1.5rem;
}
@media screen and (max-width: 768px) {
    .about_box:nth-child(2){
        justify-content: flex-end;
    }
}

.about_icon{
    font-size: var(--h1-font-size);
    color: var(--icon-color);
}
.about_title{
    font-size: 1.875rem;
    color: var(--title-color);
}
.about_subtitle{
    color: var(--text-color);
}