.pricing{
    min-height: 100vh;
}
.pricing_container{
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    column-gap: 0.875rem;
}
.pricing_item{
    padding: 1.875rem 2.5rem;
    background-color: var(--container-color);
    text-align: center;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}
.pricing_plan{
    margin: 1.25rem 0;
    font-size: var(--h2-font-size);
}
.pricing_title,
.pricing_support{
    margin-bottom: 1rem;
}
.price{
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
}
.price em{
    font-style: normal;
    font-size: var(--small-font-size);
    margin-right: 0.5rem;
    vertical-align:super;
}
.price span{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}
.pricing_item .btn{
    margin-top: 1.25rem;
}

.pricing_item:nth-child(2){
    padding: 3.4rem 2.5rem;
    position: relative;
    z-index: 1;
}
.badge{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    background-color: #6c6ce5;
    padding: 0.25rem 0.75rem;
    font-size: var(--small-font-size);
    border-top-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}