.blog{
    min-height: 100vh;
}
.blog_container{
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.875rem;
}

.blog_card{
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    overflow: hidden;
}
.blog_thumb{
    position: relative;
    overflow: hidden;
}
.blog_img{
    transform: scale(1);
    transition: 0.3s;
}
.blog_thumb:hover .blog_img{
    transform: scale(1.1);
}
.blog_category{
    color: #fff;
    background-color: var(--first-color);
    border-bottom-left-radius: 0.9375rem;
    border-bottom-right-radius: 0.9375rem;
    position: absolute;
    top: 0;
    left: 1.25rem;
    font-size: var(--small-font-size);
    display: inline-block;
    padding: 0.125rem 0.5rem;
    transform: translateY(-40px);
    transition: 0.3s;
    z-index: 1;
}
.blog_thumb:hover .blog_category{
    transform: translateY(0);
}

.blog_details{
    background-color: var(--container-color);
    padding: 1.25rem;
}

.blog_title{
    font-size: var(--h3-font-size);
    margin-bottom: 0.5rem;
    color: var(--title-color);
}

.blog_meta{
    display: flex;
    column-gap: 0.6rem;
    font-size: var(--small-font-size);
    color: var(--date-color);
    @media screen and (max-width:1070px) {
        flex-direction: column;
    }
}

.blog_dot{
    font-weight: var(--font-bold);
}
